{% extends 'base.html' %}
{% load static %}
{% block title %}Hero section - Artixcore{% endblock %}

{% block content %}
<div class="grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Hero Section</h4>
        <form class="forms-sample" action="{% url 'editContent' id=content.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="middle_section">
        <div class="form-group">
            <label for="exampleInputName1">Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputName1" placeholder="Title" required value="{{ content.content.title }}" >
        </div>
        <div class="form-group">
            <label for="exampleInputName2">Link</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="video link" name="link" required value="{{ content.content.link }}">
        </div>
        <div class="form-group">
            <label for="exampleTextarea3">Short Description</label>
            <textarea name="short_des" class="form-control" id="exampleTextarea3" rows="4" required>{{ content.content.short_des }}</textarea>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" name="image" class="file-upload-default">
            <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <!-- include main url with image src  -->
                    <img src="{{ content.image.url }}" class="img-fluid" alt="Responsive image">
                  </div>
                </div>
              </div>
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" required>
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
              </span>
            </div>
          </div>
        <div class="form-group">
            <button type="submit" class="btn btn-gradient-primary btn-sm">Submit</button>
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'assets/js/file-upload.js' %}"></script>
{% endblock %}
